body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

/* General layout */
.page-container{
  width: 33%;
  background: #fff;
  min-height: 100vh;
  margin: 0 auto;                   
  justify-content: center;           
  align-items: center;              
  position: relative;
  max-width: 1280px;

}
.header-text {
  font-size: 16px;
}


/* Language Dropdown */
.lang-select {
  align-items: center;
  background: white;
  color: #333;
  border-radius: 20px;
  padding: 0;
  font-size: 13px;
}

.lang-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  padding: 5px 10px;
  border-radius: 20px;
  background: white;
  border: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  font-size: 13px !important;
}

.flag {
  width: 18px;
  height: 12px;
  border-radius: 2px;
}

.dropdown-menu {
  min-width: 150px;
  font-size: 13px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 13px !important;
}
#home-carousel img {
  width: 100%;
  height: 350px;
}
.slider-bottom-card{
    background-color: #fff; 
}
.slider-bottom-card .text{
   font-size: 16px;
}
.yellow-border-section{
    border: 2px solid #ffdf41;
    border-radius: 5px;
}
.body-text{
font-size: 16px;
}
.no-border-select{
    outline: none !important;
    border: unset !important;
    box-shadow: unset !important;
}
.exchange-rate-text{
    font-size: 32px;
    font-weight: 700;
    color: #343c47;
    border: 1px solid #dbdbdb;
}
.exchange-rate-text .currency{
    font-size: 16px;
    font-weight: 700;
    color: #343c47;
}
.body-text-small{
font-size: 14px;
}
.footer-link{
     color: #afb1b3;
     font-size: 14px;
}
.footer-link.active{
    color: #000;
    font-weight: 600;
}
.footer-icon{
   color: #afb1b3;
    font-size:24px; 
}
.footer-link.active .footer-icon{
   color: #000;
   font-size:28px;
}
.row{
    --bs-gutter-x: 0rem!important;
}

@media (max-width: 990px) {
  .page-container {
    width: 100%;
  }

}