body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

/* General layout */
.page-container{
  width: 33%;
  background: #fff;
  min-height: 100vh;
  margin: 0 auto;                   
  justify-content: center;           
  align-items: center;              
  position: relative;
  max-width: 1280px;

}
.header-text {
  font-size: 16px;
}


/* Language Dropdown */
.lang-select {
  align-items: center;
  background: white;
  color: #333;
  border-radius: 20px;
  padding: 0;
  font-size: 13px;
}

.lang-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  padding: 5px 10px;
  border-radius: 20px;
  background: white;
  border: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  font-size: 13px !important;
}

.flag {
  width: 18px;
  height: 12px;
  border-radius: 2px;
}

.dropdown-menu {
  min-width: 150px;
  font-size: 13px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 13px !important;
}
#home-carousel img {
  width: 100%;
  height: 350px;
}
.slider-bottom-card{
    background-color: #fff; 
}
.slider-bottom-card .text{
   font-size: 16px;
}
.yellow-border-section{
    border: 2px solid #ffdf41;
    border-radius: 5px;
}
.body-text{
font-size: 16px !important;
}
.no-border-select{
    outline: none !important;
    border: unset !important;
    box-shadow: unset !important;
}
.exchange-rate-text{
    font-size: 32px;
    font-weight: 700;
    color: #343c47;
    border: 1px solid #dbdbdb;
}
.exchange-rate-text .currency{
    font-size: 16px;
    font-weight: 700;
    color: #343c47;
}
.body-text-small{
font-size: 14px;
}
.footer-link{
     color: #afb1b3;
     font-size: 14px;
}
.footer-link.active{
    color: #000;
    font-weight: 600;
}
.footer-icon{
   color: #afb1b3;
    font-size:24px; 
}
.footer-link.active .footer-icon{
   color: #000;
   font-size:28px;
}
.row{
    --bs-gutter-x: 0rem!important;
}
.breadcrumb-section{
  width: 100%;
  background: #000;
  padding: 7px 15px;
}
.breadcrumb-section p{
  color: #fff;
  font-size: 16px;
  margin-bottom: 0px;
}
.heder1{
  font-size: 36px;
  font-weight: 700;
}
.heder3{
  font-size: 18px;
  font-weight: 700;
}
.heder2{
  font-size: 24px;
  font-weight: 700;
}
.text-color-blue{
  color: #343c47;
}
.about-info-card{
  border:1px solid #dee2e6;
}
.about-info-card .icon{
  padding-right: 20px;
}
.about-info-card .icon img{
  width: 40px;
}
.heder4{
  font-size: 16px;
  font-weight: 700;
}
.text-color-orange{
  color: #ff6f26;
}
#testimonial-carousel .splide__slide{
padding: 5px;
border: 2px solid #ffdf41;
min-height: 230px;
}
.user-center-header{
  padding: 5px;
  background: #141414;
      box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, .6);
}
.vip-text{
    font-size: 22px;
    font-weight: 700;
    color: #ffd443;
    margin-left: 10px;

}
.user-center-header img{
  width: 50px;
  border-radius: 50%;
}
.user-center-header .invitation-code{
  font-size: 12px;
  font-weight: 400;
  color: #a3a0a0;
}
.small-text{
  font-size: 14px;
}
.btn-white{
  height: 40px;
  color:#000;
  font-size: 16px;
  border: 1px solid #dee2e6;
  background: #fff;
}
.nav-tabs{
  background: #fae17d;
}
.nav-tabs .nav-link {
    color: #000;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #000;
    background-color: #fac841;
    border-color: #fac841;
}
.recharge-card{
  border-radius: 15px;

}
.recharge-card .card-title{
  font-size: 14px;
  color: #254367;
}
.recharge-card .card-text{
  font-size: 32px;
  color: #c2cff2;
}
.recharge-card .card-text span{
  font-size: 16px;

}
.recharge-card .card-footer{
  color: #c2cff2;
  background-color: #1e40ae;
  border-top: unset;
  border-radius: 0 0 15px 15px;
}
.btn-yellow{
  height: 40px;
  color:#fff;
  font-size: 16px;
  border: 1px solid #e7b800;
  background: #e7b800;
  border-radius: 15px;
}
.border-yellow{
  border: 1px solid #e7b800 !important;
}
.border-rounded{
  border-radius: 25px !important;
}
.exchange-card{
  border-radius: 15px;
  background: #ff4b52;
}
.exchange-card .level{
  font-size: 24px;
  color: #254367;
}
.exchange-card .text{
  font-size: 14px;
  color: #000;
}
.text-white-bg{
  padding: 5px;
  border: 1px solid #fff;
  background-color: #ffffff73;
  border-radius: 5px;
}
@media (max-width: 990px) {
  .page-container {
    width: 100%;
  }

}